/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

@import "./sections/about.scss";
@import "./sections/community.scss";
@import "./sections/downloads.scss";
@import "./sections/exchanges.scss";
@import "./sections/portfolio.scss";
@import "./sections/roadmap.scss";
@import "./sections/services.scss";
@import "./sections/subscribe.scss";
@import "./sections/team.scss";
@import "./sections/testimonials.scss";
@import "./sections/blog.scss";

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .row {
    margin-left: 0;
    margin-right: 0;
  }
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  width: 100%;
}

.section-title {
  font-size: 48px;
  line-height: 64px;
  color: $accent-color;
  text-transform: uppercase;
  text-align: center;
  font-weight: 100;
  margin: 40px auto 40px auto;

  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 48px;
  }
}

.section-description {
  max-width: 768px;
  margin: 40px auto;
  text-align: center;
  font-size: 24px;
  line-height: 64px;

  &.small {
    font-size: 16px;
    line-height: 32px;
  }

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 32px;
  }
}

.section-title-divider {
  width: 50px;
  height: 3px;
  background: $accent-color;
  margin: 0 auto;
  margin-bottom: 20px;

  &.left {
    margin: 24px 0 48px 0;
  }
}
