/* exchanges Section
  --------------------------------*/
.exchanges {
  background: url(../img/exchange.jpg) center center no-repeat;
  background-size: cover;
}

#exchanges {
  text-align: center;

  a {
    text-align: center;
  }

  img {
    @media (max-width: 768px) {
      margin: 12px 0;
    }
  }

  .bg {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
  }

  .container {
    padding: 64px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }
}

.exchanges {
  &-title {
    color: #fff;
    font-size: 28px;
    font-weight: 500;
  }

  &-text {
    color: #fff;
  }

  &-btn-container {
    text-align: center;
    padding-top: 20px;
  }

  &-btn {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 2px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;

    &:hover {
      background: $accent-color;
      border: 2px solid $accent-color;
    }
  }
}
