/* Roadmap Section
  --------------------------------*/
#roadmap {
  background: #f6f6f6;
  padding: 64px 0;
}

.roadmap-title {
  font-size: 32px;
}

#roadmap .container {
  height: 650px;
}

.progress-bar {
  background-color: $accent-color;
}

@media (min-width: 500px) {
  height: 720px;
}

@media (max-width: 768px) {
  .roadmap-item {
    .section-title {
      font-size: 24px;
    }
    &:not(:first-of-type) {
      margin: 48px 0;
    }
  }
}

@media (min-width: 768px) {
  #roadmap .container {
    height: 650px;
  }
}
