/* Roadmap Section
  --------------------------------*/
#roadmap {
  background: $accent-color;
  padding: 64px 0;

  .section-title,
  .section-description,
  h4,
  h5,
  ul li {
    color: white;
  }

  .section-title-divider {
    background: white;
  }
}

.progress-bar {
  background-color: $gold;
}

.roadmap-item {
  height: auto;
}

@media (max-width: 768px) {
  .roadmap-item {
    .section-title {
      font-size: 24px;
    }
    &:not(:first-of-type) {
      margin: 48px 0;
    }
  }
}
